# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.zip
m4-lists/.DS_Store
m5-hashing/.DS_Store
m4-lists/.DS_Store
m4-lists/.DS_Store
m5-hashing/m5lab/.DS_Store
